## Data Analyst Position Salary

- Team Members: Michelle Davis, Cody Gardner, Yugin Huang, Dawn Washington
- Source1: https://www.kaggle.com/andrewmvd/data-analyst-jobs

In [1]:
import pandas as pd

#### Data Cleaning

In [2]:
df = pd.read_csv("DataAnalyst.csv")

In [3]:
df["Location"].unique()

array(['New York, NY', 'Fairfield, NJ', 'Jersey City, NJ', 'Brooklyn, NY',
       'Weehawken, NJ', 'Long Island City, NY', 'Florham Park, NJ',
       'Manhasset, NY', 'Newark, NJ', 'Queens Village, NY', 'Haworth, NJ',
       'Fort Lee, NJ', 'South Plainfield, NJ', 'Bronx, NY',
       'Little Ferry, NJ', 'Lake Success, NY', 'Summit, NJ',
       'Valley Stream, NY', 'Berkeley Heights, NJ', 'Essex Fells, NJ',
       'Franklin Lakes, NJ', 'Mount Vernon, NY', 'Secaucus, NJ',
       'West Orange, NJ', 'Far Rockaway, NY', 'Woodbridge, NJ',
       'Parsippany, NJ', 'Whippany, NJ', 'Great Neck, NY', 'Hoboken, NJ',
       'Staten Island, NY', 'Harrison, NY', 'Iselin, NJ', 'Montvale, NJ',
       'Woodcliff Lake, NJ', 'Salt Lake City, UT', 'West Jordan, UT',
       'Lehi, UT', 'Draper, UT', 'American Fork, UT', 'Sandy, UT',
       'Riverton, UT', 'Reedley, CA', 'Visalia, CA', 'Hanford, CA',
       'Hampton, VA', 'Norfolk, VA', 'Portsmouth, VA', 'Chesapeake, VA',
       'Smithfield, VA', 'Suffolk, VA', 'Newport News, VA',
       'Virginia Beach, VA', 'Yorktown, VA', 'Fort Eustis, VA',
       'Gainesville, FL', 'Alachua, FL', 'El Segundo, CA',
       'Santa Monica, CA', 'Los Angeles, CA', 'Hermosa Beach, CA',
       'Gardena, CA', 'Burbank, CA', 'Culver City, CA', 'Glendale, CA',
       'Inglewood, CA', 'Venice, CA', 'Pasadena, CA', 'Cerritos, CA',
       'Carson, CA', 'Irwindale, CA', 'Anaheim, CA', 'Beverly Hills, CA',
       'Long Beach, CA', 'Northridge, CA', 'Alhambra, CA', 'Brea, CA',
       'Duarte, CA', 'Woodland Hills, CA', 'Monterey Park, CA',
       'Marina del Rey, CA', 'Arcadia, CA', 'Torrance, CA',
       'Panorama City, CA', 'Signal Hill, CA', 'Azusa, CA',
       'City of Industry, CA', 'Pico Rivera, CA', 'Whittier, CA',
       'San Fernando, CA', 'Chicago, IL', 'Downers Grove, IL',
       'Broadview, IL', 'Woodridge, IL', 'Burr Ridge, IL',
       'Rolling Meadows, IL', 'Deerfield, IL', 'Northlake, IL',
       'Northbrook, IL', 'Des Plaines, IL', 'Itasca, IL', 'Evanston, IL',
       'Bridgeview, IL', 'Oak Brook, IL', 'Maywood, IL', 'Northfield, IL',
       'Glenview, IL', 'Elk Grove Village, IL', 'Arlington Heights, IL',
       'Houston, TX', 'Stafford, TX', 'Pearland, TX', 'Sugar Land, TX',
       'Pasadena, TX', 'Spring, TX', 'Tempe, AZ', 'Phoenix, AZ',
       'Scottsdale, AZ', 'Glendale, AZ', 'Chandler, AZ', 'Mesa, AZ',
       'DC Ranch, AZ', 'King of Prussia, PA', 'Plymouth Meeting, PA',
       'Blue Bell, PA', 'Fort Washington, PA', 'Philadelphia, PA',
       'Wilmington, DE', 'Malvern, PA', 'Horsham, PA', 'Camden, NJ',
       'Feasterville Trevose, PA', 'Radnor, PA', 'West Conshohocken, PA',
       'Wayne, PA', 'Bensalem, PA', 'Exton, PA', 'Doylestown, PA',
       'Allegheny West, PA', 'Paoli, PA', 'Chester Township, PA',
       'Conshohocken, PA', 'West Chester, PA', 'Mount Laurel, NJ',
       'Ridley Park, PA', 'Berwyn, PA', 'Newtown, PA',
       'Newtown Square, PA', 'Boothwyn, PA', 'Norristown, PA',
       'West Point, PA', 'Marlton, NJ', 'Moorestown, NJ',
       'San Antonio, TX', 'Lackland AFB, TX', 'Fort Sam Houston, TX',
       'San Diego, CA', 'National City, CA', 'El Cajon, CA', 'Plano, TX',
       'Allen, TX', 'Arlington, TX', 'Dallas, TX', 'Richardson, TX',
       'Irving, TX', 'Grapevine, TX', 'Lewisville, TX', 'Addison, TX',
       'Tarrant, TX', 'Carrollton, TX', 'Southlake, TX', 'Coppell, TX',
       'Farmers Branch, TX', 'Newark, CA', 'Santa Clara, CA',
       'Redwood City, CA', 'Cupertino, CA', 'Fremont, CA', 'San Jose, CA',
       'Menlo Park, CA', 'Palo Alto, CA', 'Mountain View, CA',
       'Sunnyvale, CA', 'Los Gatos, CA', 'Stanford, CA',
       'East Palo Alto, CA', 'Pleasanton, CA', 'Union City, CA',
       'Milpitas, CA', 'Campbell, CA', 'Austin, TX',
       'West Lake Hills, TX', 'Round Rock, TX', 'Cedar Park, TX',
       'Jacksonville, FL', 'Fort Worth, TX', 'Roanoke, TX',
       'Westlake, TX', 'Columbus, OH', 'Westerville, OH', 'Hilliard, OH',
       'Dublin, OH', 'Charlotte, NC', 'Mooresville, NC',
       'Huntersville, NC', 'Fort Mill, SC', 'Indian Trail, NC',
       'San Francisco, CA', 'San Rafael, CA', 'San Mateo, CA',
       'Oakland, CA', 'Berkeley, CA', 'Burlingame, CA', 'Foster City, CA',
       'Marin City, CA', 'Daly City, CA', 'South San Francisco, CA',
       'San Bruno, CA', 'Emeryville, CA', 'Novato, CA', 'Millbrae, CA',
       'San Ramon, CA', 'Hercules, CA', 'Alameda, CA', 'Walnut Creek, CA',
       'Carmel, IN', 'Indianapolis, IN', 'Whitestown, IN',
       'Jeffersonville, IN', 'Beech Grove, IN', 'Lawrence, IN',
       'Redmond, WA', 'Seattle, WA', 'Issaquah, WA', 'Kent, WA',
       'Bellevue, WA', 'Renton, WA', 'Kirkland, WA', 'Athens, GA',
       'Burlingame, KS', 'Topeka, KS', 'Denver, CO', 'Centennial, CO',
       'Boulder, CO', 'Greenwood Village, Arapahoe, CO', 'Henderson, CO',
       'Englewood, CO', 'Lakewood, CO', 'Lone Tree, CO', 'Louisville, CO',
       'Aurora, CO', 'Broomfield, CO', 'Littleton, CO'], dtype=object)

In [4]:
new = df["Location"].str.split(",", n = 1, expand = True)

In [5]:
df["City"] = new[0] 
df["State"] = new[1]

In [6]:
#df_CA = df.loc[df["State"] == " CA"]

In [7]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,City,State
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,TRUE,New York,NY
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,New York,NY
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,New York,NY
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,New York,NY
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,TRUE,New York,NY

In [8]:
salary = df["Salary Estimate"].str.split("-", n = 1, expand = True)

In [9]:
df["SalaryEstimate_low"] = salary[0]
df["SalaryEstimate_high"] = salary[1]
a = df["SalaryEstimate_low"].str.split("K", n = 1, expand = True) 
b = df["SalaryEstimate_high"].str.split("K", n = 1, expand = True) 
df["SalaryEstimate_low"] = a[0]
df["SalaryEstimate_high"] = b[0]
c = df["SalaryEstimate_low"].str.split("$", n = 1, expand = True) 
d = df["SalaryEstimate_high"].str.split("$", n = 1, expand = True) 
df["SalaryEstimate_low"] = c[1]
df["SalaryEstimate_high"] = d[1]
df[["SalaryEstimate_low", "SalaryEstimate_high"]] = df[["SalaryEstimate_low", "SalaryEstimate_high"]].apply(pd.to_numeric, errors='coerce')
df[["SalaryEstimate_low","SalaryEstimate_high"]] = df[["SalaryEstimate_low","SalaryEstimate_high"]]*1000

In [10]:
df["Revenue"] = df["Revenue"].str.split("billion", n = 1, expand = True) 
revenue = df["Revenue"].str.split("to", n = 1, expand = True) 
df["Revenue_low"] = revenue[0]
df["Revenue_high"] = revenue[1]
x = df["Revenue_high"].str.split(" ", n = 1, expand = True) 
df["Revenue_high"] = x[1]
y = df["Revenue_high"].str.split(" ", n = 1, expand = True)
df["Revenue_high"] = y[0]
z = df["Revenue_low"].str.split("$", n = 1, expand = True) 
t = df["Revenue_high"].str.split("$", n = 1, expand = True) 
df["Revenue_low"] = z[1]
df["Revenue_high"] = t[1]
df[["Revenue_low", "Revenue_high"]] = df[["Revenue_low", "Revenue_high"]].apply(pd.to_numeric, errors='coerce')
df[["Revenue_low","Revenue_high"]] = df[["Revenue_low","Revenue_high"]]*1000000

In [11]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Sector,Revenue,Competitors,Easy Apply,City,State,SalaryEstimate_low,SalaryEstimate_high,Revenue_low,Revenue_high
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,...,Non-Profit,$100 to $500 million (USD),-1,TRUE,New York,NY,37000.0,66000.0,100000000.0,500000000.0
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,...,Health Care,$2 to $5,-1,-1,New York,NY,37000.0,66000.0,2000000.0,5000000.0
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,...,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,New York,NY,37000.0,66000.0,NaN,NaN
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,...,Information Technology,$50 to $100 million (USD),-1,-1,New York,NY,37000.0,66000.0,50000000.0,100000000.0
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,...,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,TRUE,New York,NY,37000.0,66000.0,100000000.0,500000000.0

In [12]:
df = df.drop(columns=["Revenue","Salary Estimate"])

In [13]:
df["Size"].unique()

array(['201 to 500 employees', '10000+ employees',
       '1001 to 5000 employees', '501 to 1000 employees',
       '5001 to 10000 employees', '1 to 50 employees',
       '51 to 200 employees', 'Unknown', '-1'], dtype=object)

In [14]:
df

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Competitors,Easy Apply,City,State,SalaryEstimate_low,SalaryEstimate_high,Revenue_low,Revenue_high
0,0,"Data Analyst, Center on Immigration and Justic...",Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,-1,TRUE,New York,NY,37000.0,66000.0,100000000.0,500000000.0
1,1,Quality Data Analyst,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,-1,-1,New York,NY,37000.0,66000.0,2000000.0,5000000.0
2,2,"Senior Data Analyst, Insights & Analytics Team...",We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,GoDaddy,-1,New York,NY,37000.0,66000.0,NaN,NaN
3,3,Data Analyst,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,-1,-1,New York,NY,37000.0,66000.0,50000000.0,100000000.0
4,4,Reporting Data Analyst,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",DraftKings,TRUE,New York,NY,37000.0,66000.0,100000000.0,500000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,-1,-1,Denver,CO,78000.0,104000.0,NaN,NaN
2249,2249,Senior Data Analyst (Corporate Audit),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,"Avnet, Ingram Micro, Tech Data",-1,Centennial,CO,78000.0,104000.0,NaN,NaN
2250,2250,"Technical Business Analyst (SQL, Data analytic...","Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,Denver,CO,78000.0,104000.0,NaN,NaN
2251,2251,"Data Analyst 3, Customer Experience",Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,-1,-1,Centennial,CO,78000.0,104000.0,25000000.0,50000000.0
2252,2252,Senior Quality Data Analyst,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,"Centura Health, HealthONE, Denver Health and H...",-1,Broomfield,CO,78000.0,104000.0,2000000.0,5000000.0

In [15]:
export_csv = df.to_csv ('clean_data_analyst.csv', index = None, header=True)