In [1]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
#import config

In [2]:
#Extract CSV into DataFrame
data_analyst_df = pd.read_csv("../data/clean_data_analyst.csv")
data_analyst_df

,ID,Title,Salary,Rating,Company,Location,Headquarters,Size,Founded,ownership,Industry,Sector,Revenue,min,max
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),$37K,$66K
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),$37K,$66K
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,$37K,$66K
3,3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),$37K,$66K
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),$37K,$66K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),2.5,"Avacend, Inc.","Denver, CO","Alpharetta, GA",51 to 200 employees,NaN,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,$78K,$104K
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),2.9,Arrow Electronics,"Centennial, CO","Centennial, CO",10000+ employees,1935.0,Company - Public,Wholesale,Business Services,$10+ billion (USD),$78K,$104K
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),NaN,Spiceorb,"Denver, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,$78K,$104K
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),3.1,Contingent Network Services,"Centennial, CO","West Chester, OH",201 to 500 employees,1984.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),$78K,$104K
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),3.4,SCL Health,"Broomfield, CO","Broomfield, CO",10000+ employees,1864.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),$78K,$104K

In [3]:
#Create Database connection
connection_string = "postgres:postgres@localhost:5432/data_analyst_db"
engine = create_engine(f'postgresql://{connection_string}')

In [4]:
# Confirm tables
engine.table_names()

<ipython-input-4-2d97e9123e98>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['analyst', 'data_analyst']

In [5]:
#Use pandas to Load  csv converted DataFrames into database
data_analyst_df.to_sql(name='data_analyst', con=engine, if_exists='append', index=False)

In [6]:
#confirm data has been added by quering the table
pd.read_sql_query('select * from data_analyst', con=engine).head()

,ID,Title,Salary,Rating,Company,Location,Headquarters,Size,Founded,ownership,Industry,Sector,Revenue,min,max
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),$37K,$66K
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),$37K,$66K
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,$37K,$66K
3,3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),$37K,$66K
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),$37K,$66K